body {
  margin:0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=file]{
  width: 20%;
  padding: 12px;
  border: 0px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 30px;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav a {
  /*border: 1px solid #FFFFFF;*/
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  margin: 0px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.assessment {
	display: inline;
	/* background-color: #88bbff; */
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}
