<!DOCTYPE html>
<html>
<head>
	<link type='text/css' rel='stylesheet' href='global.css'>
<style>
</style>
</head>
<body>

<div style="padding-left:16px">
  <h1>Rainbow Table</h1>
</div>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/import">Import Unit</a>
  <a href="/add">Add Assessment</a>
  <a href="#">Export Planner</a>
</div>
<table>
% for i in range(int(num_units)):
    <col width={{(100/int(num_units))}}%>
% end
<tr>
% for i in range(int(num_units)):
    <th>Unit {{i+1}}</th>
% end
</tr>
% ass_loaded = assessments.split(",")
% exam_perc = exams.split(",")
% for i in range(int(num_units)):
    <td>Assessments loaded {{ass_loaded[i]}}%<br/><span title="This is mouse over text!!!">Exam </span> {{exam_perc[i]}}%<br/>Textbooks</td>
% end
</tr>
</table>

<table>
	<col width="9%">
    <col width="13%">
    <col width="13%">
    <col width="13%">
    <col width="13%">
    <col width="13%">
    <col width="13%">
    <col width="13%">
  <tr>
    <th></th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday{{test}}</th>
  </tr>
  <tr>
    <th><span title="{{Week1}}">Week 1</span></th>
    <td>31<br/>assessment</td>
    <td>1 August</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
  </tr>
  <tr>
    <th><span title="{{Week2}}">Week 2</span></th>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
    <td>13</td>
  </tr>
  <tr>
    <th><span title="{{Week3}}">Week 3</span></th>
    <td>14</td>
    <td>15</td>
    <td>16</td>
    <td>17</td>
    <td>18</td>
    <td>19</td>
    <td>20</td>
  </tr>
  <tr>
    <th><span title="{{Week4}}">Week 4</span></th>
    <td>21</td>
    <td>22</td>
    <td>23</td>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>27</td>
  </tr>
  <tr>
    <th><span title="{{Week5}}">Week 5</span></th>
    <td>28</td>
    <td>29</td>
    <td>30</td>
    <td>31</td>
    <td>1 September</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <th><span title="{{Week6}}">Week 6</span></th>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
  </tr>
  <tr>
    <th><span title="{{Week7}}">Week 7</span></th>
    <td>11</td>
    <td>12</td>
    <td>13</td>
    <td>14</td>
    <td>15</td>
    <td>16</td>
    <td>17</td>
  </tr>
  <tr>
    <th><span title="{{Week8}}">Week 8</span></th>
    <td>18</td>
    <td>19</td>
    <td>20</td>
    <td>21</td>
    <td>22</td>
    <td>23</td>
    <td>24</td>
  </tr>
  <tr>
    <th><span title="{{MIDSEM}}">MIDSEM</span></th>
    <td>25</td>
    <td>26</td>
    <td>27</td>
    <td>28</td>
    <td>29</td>
    <td>30</td>
    <td>1 October</td>
  </tr>
  <tr>
    <th><span title="{{Week9}}">Week 9</span></th>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
  </tr>
  <tr>
    <th><span title="{{Week10}}">Week 10</span></th>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
    <td>13</td>
    <td>14</td>
    <td>15</td>
  </tr>
  <tr>
    <th><span title="{{Week11}}">Week 11</span></th>
    <td>16</td>
    <td>17</td>
    <td>18</td>
    <td>19</td>
    <td>20</td>
    <td>21</td>
    <td>22</td>
  </tr>
  <tr>
    <th><span title="{{Week12}}">Week 12</span></th>
    <td>23</td>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>27</td>
    <td>28</td>
    <td>29</td>
  </tr>
  <tr>
    <th><span title="{{Week13}}">Week 13</span></th>
    <td>30</td>
    <td>31</td>
    <td>1 November</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <th>STUVAC</th>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
  </tr>
  <tr>
    <th>Exams 1</th>
    <td>13</td>
    <td>14</td>
    <td>15</td>
    <td>16</td>
    <td>17</td>
    <td>18</td>
    <td>19</td>
  </tr>
  <tr>
    <th>Exams 2</th>
    <td>20</td>
    <td>21</td>
    <td>22</td>
    <td>23</td>
    <td>24</td>
    <td>25</td>
    <td>26</td>
  </tr>
</table>

</body>
</html>
