<!doctype html>
<title>Rainbow Table - {% block title %}{% endblock %}</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
<link rel=stylesheet  type='text/css' rel='stylesheet' href="{{ url_for('static', filename='global.css') }}">
<div class=page>
    <div style="padding-left:16px">
        <h1>Rainbow Table</h1>
    </div>
    
    <div class="topnav">
        {% block nav %}{% endblock %}
    </div>

    <h3 style="padding-left:16px">{% block heading %}{% endblock %}</h3>

    <div class=metanav>
    {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
    {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>